html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* ќтступ между кнопками */
}

.btn {
    padding: 10px 20px;
    background-color: #007bff; /* ÷вет фона */
    color: white; /* ÷вет текста */
    text-align: center;
    text-decoration: none; /* ”бираем подчеркивание */
    border-radius: 5px; /* —кругленные углы */
    transition: background-color 0.3s; /* ѕлавный переход при наведении */
}

    .btn:hover {
        background-color: #0056b3; /* ÷вет фона при наведении */
    }
